{
  "bracketSpacing": false,
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "printWidth": 80,
  "semi": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
